/* AJustes para o card-cado */
.card-gado{
  width: 20rem;
  float:left;
  margin-right: 10px;
  margin-bottom: 10px;

  img{
    height: 200px;
  }

}

.card-gado:hover{
    -webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.75);
}
