<div class="row justify-content-md-center">
  <div class="col-md-8">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-8">

    <div class="jumbotron">
      <h1 class="display-3">Bem-Vindo!</h1>
      <p class="lead">Para começar, que tal dar uma olhada em algumas das últimas cabeças de gado disponíveis?</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Consultar últimas cabeças</a>
      </p>
    </div>

  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-8">
    <div class="card card-gado" ng-repeat="gado in gados">
      <img class="card-img-top" src="{{ gado.foto }}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ gado.descricao }}</h4>
        <p class="card-text">{{ gado.informacoes }}</p>
        <a href="#!/detalhes-gado/{{ gado.codigo }}" class="btn btn-primary">Detalhes</a>
      </div>
    </div>
  </div>
</div>
